{% set ap_domain = ((item.value.api_domain is not defined) | ternary(item.key, item.value.api_domain)) %}
{% set web_domain = ((item.value.web_domain is not defined) | ternary(item.key, item.value.web_domain)) %}
## Deployment configuration for k-link on {{ ap_domain }}
version: '2'

networks:
  web:
    external:
      name: reverseproxy_traefik_web
  internal:

services:
  solr:
    image: "{{ item.value.images.solr }}"
    mem_limit: 2G
    cpu_shares: 1024
    restart: on-failure
    volumes:
      - "{{ item.value.data }}/k-search/index:/opt/solr/k-search/k-search/data:rw"
    networks:
      - internal

  ksearch:
    image: "{{ item.value.images.k_search }}"
    mem_limit: 1G
    cpu_shares: 1024
    restart: on-failure
    depends_on:
      - solr
    environment:
      - SOLR_HOST=solr
      - SOLR_NAME=k-search
      - KLINK_REGISTRY_ENABLED={{ '1' if 'k_registry' in item.value.images else '0' }}
      - KLINK_REGISTRY_API_URL=https://{{ ap_domain }}/registry
      - APP_ENV=prod
      - APP_DEBUG=0
      - KLINK_RETAIN_DOWNLOADED_CONTENTS=1 # keep cached files
    volumes:
      - {{ item.value.data }}/k-search/documents/:/var/www/k-search/var/data-downloads/:rw
    networks:
      - internal
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.klink_ksearch.rule=Host(`{{ ap_domain }}`) && PathPrefix(`/api`, `/files`, `/docs`, `/bundles`, `/swagger`)"
      - "traefik.http.routers.klink_ksearch.entrypoints=websecure"
      - "traefik.http.routers.klink_ksearch.tls=true"
      - "traefik.http.routers.klink_ksearch.tls.certresolver=mytls"

{% if 'k_registry' in item.value.images %}
  mariadb:
    mem_limit: 1G
    cpu_shares: 1024
    restart: on-failure
    image: "mariadb:10"
    environment:
      MYSQL_ROOT_PASSWORD: pw
      MYSQL_DATABASE: kregistry
      MYSQL_USER: kregistry
      MYSQL_PASSWORD: kregistry
    volumes:
      - {{ item.value.data }}/registry/database2/:/var/lib/mysql/:rw
    networks:
      - internal

  registry:
    image: "{{ item.value.images.k_registry }}"
    mem_limit: 512M
    cpu_shares: 1024
    restart: on-failure
    environment:
      REGISTRY_DB_HOST: "mariadb"
      REGISTRY_DB_USER: "kregistry"
      REGISTRY_DB_PASS: "kregistry"
      REGISTRY_DB_NAME: "kregistry"
      REGISTRY_DB_NAME: "kregistry"
      REGISTRY_HTTP_DOMAIN: "{{ ap_domain }}"
      REGISTRY_HTTP_BASE_PATH: "/registry"
      # secret left empty, so it will be autogenerated
      # on each startup.
      #REGISTRY_HTTP_SECRET: "changeme007"
      # if email host is left empty, all the mails will be
      # logged in stdout instead
      REGISTRY_SMTP_HOST: "{{ item.value.smtp_host | default('') }}"
      REGISTRY_SMTP_PASS: "{{ item.value.smtp_pass | default('') }}"
      REGISTRY_SMTP_FROM: "{{ item.value.smtp_from | default('registry <registry@k-box.net>') }}"
      REGISTRY_SMTP_PORT: "{{ item.value.smtp_port | default('587') }}"
      REGISTRY_ADMIN_USERNAME: "{{ lookup('keepass', '/ansible/k-links/' + item.key + '.username') }}"
      REGISTRY_ADMIN_PASSWORD: "{{ lookup('keepass', '/ansible/k-links/' + item.key + '.password') | regex_replace('\\$', '$$')}}"
    expose:
      - 80
    networks:
      - web
      - internal
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.klink_registry.rule=Host(`{{ ap_domain }}`) && PathPrefix(`/registry`)"
      - "traefik.http.routers.klink_registry.entrypoints=websecure"
      - "traefik.http.routers.klink_registry.tls=true"
      - "traefik.http.routers.klink_registry.tls.certresolver=mytls"

{% endif %}
{% if 'video' in item.value.images %}
  video:
    mem_limit: 6G
    cpu_shares: 1024
    restart: on-failure
    image: "{{ item.value.images.video }}"
    volumes:
      - "{{ item.value.data }}/video/storage:/var/www/vss/storage"
    networks:
      - web
    environment:
      APP_URL: "https://{{ ap_domain }}/video/"
      APP_KEY: "12jjwz58[j48u%ehhdE&_jeu56729013"
      KLINK_REGISTRY_URL: "https://{{ ap_domain }}/registry/"
      TRUSTED_PROXY_IP: "0.0.0.0/0" # we are always behind a proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.klink_video.rule=Host(`{{ ap_domain }}`) && PathPrefix(`/video`)"
      - "traefik.http.routers.klink_video.entrypoints=websecure"
      - "traefik.http.routers.klink_video.tls=true"
      - "traefik.http.routers.klink_video.tls.certresolver=mytls"

{% endif %}
{% if 'web' in item.value.images %}
  web:
    image: "{{ item.value.images.web }}"
    mem_limit: 512M
    cpu_shares: 1024
    restart: on-failure
    environment:
      SITEURL: "https://{{ web_domain }}/"
      KSEARCH_URL: "https://{{ ap_domain }}/api/"
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.klink_web.rule=Host(`{{ web_domain }}`)"
      - "traefik.http.routers.klink_web.entrypoints=websecure"
      - "traefik.http.routers.klink_web.tls=true"
      - "traefik.http.routers.klink_web.tls.certresolver=mytls"

{% endif %}
{% if 'konverter' in item.value.images %}
  konverter:
    mem_limit: 2G
    cpu_shares: 1024
    restart: on-failure
    image: "{{ item.value.images.konverter }}"
    environment:
      - "DSN=host=database user=v2 password=v2 sslmode=disable"
    volumes:
      - ./konverter/mounted/institutions.json:/institutions.json:ro
      - ./konverter/mounted/credentials.json:/credentials.json:ro
      - {{ item.value.data }}/k-search/documents/:/var/documents/:rw # documents
      - /tmp/konverter:/tmp/:rw # documents cache
    networks:
      - internal
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.klink_konverter.rule=Host(`{{ ap_domain }}`) && PathPrefix(`/kcore/`)"
      - "traefik.http.routers.klink_konverter.entrypoints=websecure"
      - "traefik.http.routers.klink_konverter.tls=true"
      - "traefik.http.routers.klink_konverter.tls.certresolver=mytls"
      # - "traefik.port=8000"

  database:
    image: postgres:9
    mem_limit: 1G
    cpu_shares: 1024
    restart: on-failure
    environment:
      - "POSTGRES_USER=v2"
      - "POSTGRES_PASSWORD=v2"
    volumes:
      - ./konverter/db/:/var/lib/postgresql/data:rw
    networks:
      - internal

{% endif %}
{% if 'redirect' in item.value %}
  slmtj-redirect:
    image: schmunk42/nginx-redirect
    mem_limit: 512M
    cpu_shares: 1024
    restart: on-failure
    environment:
    - SERVER_REDIRECT={{ item.value.redirect.to | default(web_domain) }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.klink_redirect.rule=Host(`{{ item.value.redirect.from | default("www."+web_domain) }}`)"
      - "traefik.http.routers.klink_redirect.entrypoints=websecure"
      - "traefik.http.routers.klink_redirect.tls=true"
      - "traefik.http.routers.klink_redirect.tls.certresolver=mytls"
    networks:
    - web

{% endif %}
